skip_global_compinit=1
autoload -Uz compinit && compinit
autoload -Uz bashcompinit
bashcompinit -i
autoload -U +X bashcompinit && bashcompinit

# Select theme
{{- if ( or ( eq .chezmoi.hostname "MacBook-Pro-von-devoba-admin" ) ( eq .chezmoi.hostname "LP30004" ) ) }}
# load theme
ZSH_THEME="eastwood"

# make brew available
eval $(/opt/homebrew/bin/brew shellenv)
{{- else }}
ZSH_THEME="lukerandall"
{{- end }}

# load common bash/zsh compatible shell configs
for rc in "$HOME/.common.sh.d"/*; do
    source "$rc"
done

# add helpers to PATH
if [[ -d "${HOME}/.helper.sh.d/" ]]
then
    chmod -R +x "${HOME}/.helper.sh.d/"
    PATH=${HOME}/.helper.sh.d:${PATH}
fi

source "$HOME/.oh-my-zsh/oh-my-zsh.sh"
