[user]
{{- if eq .GIT_MAIL_ID "BMW" }}
    name = qxz3hva
    email = Alexander.Haag@partner.bmwgroup.com
{{- else if eq .GIT_MAIL_ID "Sulzer" }}
    name = Alexander Haag (ext.)
    email = Alexander.Haag.Partner@sulzer.de
{{- else }}
    name = alexander haag
    email = alexander_haag@gmx.de
{{- end }}
[github]
    user = Haagy
[color]
    ui = auto
[color "branch"]
    current = red reverse
    local = red
    remote = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    l = log --stat
    ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --stat
	  up = "!git remote update -p; git merge --ff-only @{u}; git pull origin \"$(git rev-parse --abbrev-ref HEAD)\""
    co = checkout
    fa = fetch --all
    a = add
    cm = commit --message
    cma = commit --amend --no-edit
    st = status
    ss = status -sb
    pusho = "!git push origin \"$(git rev-parse --abbrev-ref HEAD)\""
    pushof = "!git push --force-with-lease origin \"$(git rev-parse --abbrev-ref HEAD)\""
    pullo = "!git pull origin \"$(git rev-parse --abbrev-ref HEAD)\""
    rh = reset --hard
    rs = reset --soft
[init]
    defaultBranch = main
[push]
	  default = current
[pull]
    rebase = true
[gpg]
	  program = gpg
[commit]
{{- if eq .chezmoi.hostname "MBPvondobaadmin" }}
	  gpgSign = true
{{- else }}
	  gpgSign = false
{{- end }}
[pager]
    branch = false

